#index body{
    background-color: rgb(36, 36, 52);
}
.navbar{
  background-color: black !important;
}
img{
    -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
pointer-events: none;
}
button{
  background-color: rgba(0,0,0,0);
  border:none;
}
.contenedor{
  width: 90vw;
  height: 80vh;
}
.navbar{
  height: 40px;
}
.footer{
  margin:0;
}
.carousel{
    height: 400px;

}

.boton{
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    background-color: cyan;
    border-width: 0px;
}

.boton:hover{
    background-color: rgb(89, 254, 254);
}
.pushable {
  display: inline-block;
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    
    display: inline-block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

  .divisionI{
    width: calc(30% - 4px);
    display: inline-block;
  }
  .divisionI2{
    width: calc(50% - 4px);
    display: inline-block;
  }
.card{
  display: inline-block !important;
  background-color: rgb(41, 67, 90) !important;
  color: white;
  margin-right: 40px;
}
  .divisionD{
    vertical-align: top;
    width: calc(70% - 4px);
    display: inline-block;
  }
  .divisionD2{
    vertical-align: top;
    width: calc(50% - 4px);
    display: inline-block;
  }
.enunciado h3{
    
    color: white;
    background-color: rgb(41, 67, 90);
    margin: 0;
}

.enunciado p{
    
    font-size: large;
    color: white;
    background-color: rgb(41, 67, 90);
}

.resolucion{    
    height: 60vh;
    padding: 20px calc(30% - 16px) 20px 30%;
    background-color: rgb(41, 67, 90);
}

.pushableR {
  display: inline-block;
  background: rgb(27, 102, 137);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.frontR {
  
  display: inline-block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: rgb(25, 148, 235);
  color: white;
  transform: translateY(-6px);
}

.pushableR:active .front {
  transform: translateY(-2px);
}
.teoriaDiv{
  height: 70vh;
  background-color: rgb(30, 65, 80);
  vertical-align: middle;
}

.titulo{
  font-size: 50px;
  color: white;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.titulo2{
  font-size: 100px;
  color: white;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.teoria{    
  width: 70%;
  color: white;
  margin: 0;
  position: relative;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.margenimg{
 margin-left: 50%;
}
.margenimg2{
  margin-left:60%;
  margin-top:20%;
 }
 .margenimg3{
  margin-left:60%;
  margin-top:13%;
 }
 .margenimg4{
  margin-left:60%;
  margin-top:25%;
 }
 .margenimg5{
  margin-left:60%;
  margin-top:21%;
 }
.pushable2 {
  text-align: center;
  background-color: rgb(0, 110, 118);
  border: none;
  padding: 0px;
}
.front2 {
  margin:0px;
  display: block;
  padding: 2px 4px; 
  font-size: 20px;
  color: white;
}

.front2:active{
  transform: translateY(-2px);
}
.front2:hover{
  background-color: rgb(4, 145, 155);
}

.sobreAlgo{
  position:absolute;
  top: 80%;
  left: 70%;
}
.texto{
  color:white;
  display: inline-block;
  margin-top:5px;
}
.punto{
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-stroke: 2px black;
  position:absolute;
}
.terminal{
  left:47.5%;
  top:5.5%;
}
.entrada{
  left: 48%;
  top: 16%;
}
.decision{
  left: 50%;
  top:33%;
}
.proceso{
  left:36%;
  top:51%;
}
.print{
  left:61%;
  top:51%;
}
.terminalEnd{
  left:49%;
  top:77.5%;
}
.tituloDiag{
  color:white;
  position:absolute;
  top:10%;
  left: 10%;
}
