#index body{
    background-color: rgb(36, 48, 52);
}
img{
    -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
pointer-events: none;
}
button{
  background-color: rgba(0,0,0,0);
  border:none;
}
.contenedor{
    
    width: 90vw;
    height: 70vh;
}

.carousel{
    height: 400px;

}

.boton{
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    background-color: cyan;
    border-width: 0px;
}

.boton:hover{
    background-color: rgb(89, 254, 254);
}
.pushable {
  
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

  .divisionI{
    width: calc(30% - 4px);
    display: inline-block;
  }

  .divisionD{
    vertical-align: top;
    width: calc(70% - 4px);
    display: inline-block;
  }
.enunciado h3{
    
    color: white;
    background-color: rgb(41, 67, 90);
    margin: 0;
}

.enunciado p{
    
    font-size: large;
    color: white;
    background-color: rgb(41, 67, 90);
}

.resolucion{    
    height: 60vh;
    padding: 20px calc(40% - 16px) 20px 40%;
    background-color: rgb(41, 67, 90);
}

.pushableR {
  
  background: rgb(27, 102, 137);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.frontR {
  
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: rgb(25, 148, 235);
  color: white;
  transform: translateY(-6px);
}

.pushableR:active .front {
  transform: translateY(-2px);
}